@using LibraryManagmentSystem.ViewModel;
@model IEnumerable<MemberViewModel>

@{
    ViewData["Title"] = "Members";
}

<h1>Library Members</h1>

<br />

<a class="btn btn-primary btn-rounded mb-2" asp-controller="Member" asp-action="Create">
    Create new Member
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg>
</a>

<br />

<div class="input-group md-form form-sm form-2 pl-0">
    <input id="search" class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
    <div class="input-group-append">
        <button class="input-group-text" onclick="search()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<br />

<table class="table table-responsive table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>StudentID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Borrowed books count</th>
            <th>Account Status</th>
            <th>Edit Member</th>
            <th>Delete Member</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var MemberVM in Model)
        {
            <tr>
                <th scope="row">@MemberVM.Member.MemberID</th>
                <td>@MemberVM.Member.StudentID</td>
                <td>@MemberVM.Member.MemberName</td>
                <td>@MemberVM.Member.Email</td>
                <td>@MemberVM.Member.Address</td>
                <td>@MemberVM.BookCount</td>
                <td>@MemberVM.Member.Status</td>
                <td><a class="btn btn-outline-info" asp-area="" asp-controller="Member" asp-action="Update" asp-route-id="@MemberVM.Member.MemberID">Edit</a></td>
                <td><a class="btn btn-outline-danger" asp-area="" asp-controller="Member" asp-action="Delete" asp-route-id="@MemberVM.Member.MemberID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        function search() {
            $("tr").each(function (index, value) {
                if (index > 0 && !$(this).find("td")[0].innerText.toLowerCase().includes($("#search").val().toLowerCase()) &&
                    !$(this).find("td")[1].innerText.toLowerCase().includes($("#search").val().toLowerCase()) &&
                    !$(this).find("td")[2].innerText.toLowerCase().includes($("#search").val().toLowerCase())) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
                console.log(value);
            })
        }
    </script>
}