@using LibraryManagmentSystem.Data.Model
@using LibraryManagmentSystem.Authorization
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@model Member

<div class="row orderForm">
    <form asp-controller="Member" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Edit Member @Model.MemberName</h3>
        @Html.HiddenFor(m => Model.MemberID)
        <div class="form-group">
            <label asp-for="StudentID" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <label asp-for="MemberName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Status)
            </div>

            @{
                var isAuthorised = await AuthorizationService.AuthorizeAsync(User, Model, LibraryOperations.Block);
                if (isAuthorised.Succeeded)
                {
                    @if (Model.Status != AccountStatus.Active)
                    {
                        <form style="display:inline" method="post">
                            <input hidden name="id" value="@Model.MemberID">
                            <input hidden name="status" value="@AccountStatus.Active">
                            <button type="submit" class="btn btn-success">Activate</button>
                        </form>
                    }

                    @if (Model.Status != AccountStatus.Blocked)
                    {
                        <form style="display:inline" method="post">
                            <input hidden name="id" value="@Model.MemberID">
                            <input hidden name="status" value="@AccountStatus.Blocked">
                            <button type="submit" class="btn btn-danger">Block</button>
                        </form>
                    }
                }
            }
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
            <div class="btn-group col-md-offset-2 col-md-6">
                <div class="btn btn-outline-danger">
                        <input class="btn btn-danger" type="submit" value="Cancel" asp-controller="Member" asp-action="Index" />
                </div>

                    <div class="btn btn-success">
                        <input class="btn btn-success" type="submit" value="Update" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>