@model IEnumerable<LibraryManagmentSystem.Data.Model.IssueTransaction>

@{
    ViewData["Title"] = "Books Returns";
}

<h1>Books Borrowings</h1>

<br />

<form asp-action="Index">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input name="search" class="form-control my-0 py-1 red-border" type="text" placeholder="Search By Member ID Number">
        <div class="input-group-append">
            <button class="input-group-text" id="js-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </div>
    </div>
</form>

<br />

<table class="table table-responsive table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Status == false)
        {
        <tr>
        <th scope="row">
            @Html.DisplayFor(modelItem => item.TransactionId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            <a class="btn btn-outline-success" asp-area="" asp-controller="ReturnBook" asp-action="Return" asp-route-transactionId="@item.TransactionId">Return</a>
        </td>
        </tr>
        }
}
    </tbody>
</table>


@section scripts{
    <script>
        $(function () {
            $("#js-search").click(function () {
                $("Form").submit();
            })
        });
    </script>
}
