@model IEnumerable<LibraryManagmentSystem.Data.Model.IssueTransaction>

@{
    ViewData["Title"] = "Books Returns";
}

<h1>Books Borrowings</h1>

<br />

<form asp-action="Index">
    <div class="input-group md-form form-sm form-2 pl-0">
        <input name="search" class="form-control my-0 py-1 red-border" type="text" placeholder="Search By Member ID Number">
        <div class="input-group-append">
            <button class="input-group-text" id="js-search">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<br />

<table class="table table-responsive table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Status == false)
        {
        <tr>
        <th scope="row">
            @Html.DisplayFor(modelItem => item.TransactionId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            <a class="btn btn-outline-success" asp-area="" asp-controller="ReturnBook" asp-action="Return" asp-route-transactionId="@item.TransactionId">Return</a>
        </td>
        </tr>
        }
}
    </tbody>
</table>


@section scripts{
    <script>
        $(function () {
            $("#js-search").click(function () {
                $("Form").submit();
            })
        });
    </script>
}
